<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bounce</title>
  <meta name="description" content="Bounce">
  <meta name="author" content="Bounce">

  <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
</head>

<body>
<script src="<%= javascript_path 'application' %>"></script>
</body>
</html>