<div class="container">
    <img src="<%= asset_path 'logo.png' %>" alt="" />
    <h1>RubySkeleton - Ruby Sinatra Base</h1>
    <div class="status">Loading JS <small>(3 Second delay)</small></div>
    <br />
    <div class="code">
        <code>require 'sinatra'
require 'sprockets'
require 'sprockets-helpers'
require 'uglifier'
require 'sass'</code>
    </div>
</div>