<div class="container">
    <img src="<%= asset_path 'logo.png' %>" alt="" />
    <h1>RubySkeleton - Ruby Sinatra Base</h1>
    <div class="status">Loading JS <small>(3 Second delay)</small></div>
    <br />
    <div class="code">
        <code>require 'sinatra'
require 'sprockets'
require 'sprockets-helpers'
require 'uglifier'
require 'sass'</code>
    </div>

    <% if !users.empty? %>
    <div class="users">
        <h4>Users found in the system</h4>
        <ul>
            <% users.each do |user| %>
            <li><%= user.name %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="test">
      <h4>Set test session data</h4>
      <%= @message %>
      <form action="/" method="post">
        <input type="text" placeholder="Some test data" name="test" />
        <input type="submit" />
      </form>
    </div>
</div>