<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RubySkeleton - Ruby Sinatra Base</title>
    <meta name="description" content="RubySkeleton - Ruby Sinatra Base">
    <meta name="author" content="Rudi Strydom">

    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="<%= asset_path 'logo.png' %>" alt="" />
        <h1>RubySkeleton - Ruby Sinatra Base</h1>
      </div>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/logoff">Logoff</a></li>
      </ul>
      <%= yield %>
    </div>
  </body>
  <script async="true" src="<%= javascript_path 'application' %>"></script>
</html>