<form method="post">

  <% if error_messages.size > 0 %>
      <% error_messages.each do |msg| %>
          <div class="error"><%= msg %></div>
      <% end %>
  <% end %>

  <label for="username_or_email">
    <span>Username / Email Address</span>
    <input type="text" id="username_or_email" name="username_or_email" placeholder="iam@thatuy.co.za / bounce" />
  </label>
  <label for="password">
    <span>Password</span>
    <input type="password" id="password" name="password" placeholder="password" />
  </label>
  <input type="submit" />
</form>