body {
  background: #f7f7f7;
  font-family: $font-family;

  > .container {
    margin: 100px auto 10px;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 1px #a1a1a1, 1px 1px 25px rgba(#000, 0.05);
    @include border-radius(5px);

    > h1 {
      margin-top: 10px;
    }

    > img {
      margin: 0 auto;
      display: block;
    }

    ul.navigation {
      margin: 0 auto 20px;
      padding: 0;
      list-style: none;
      @include flex-display();
      @include align-items(center);
      @include justify-content(center);

      li {
        display: inline-block;
        background: #eee;
        border: 1px solid #ccc;

        &:hover {
          background: darken(#eee, 5%);
          border-color: darken(#ccc, 10%);
        }

        & + li {
          border-left: none;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #333;
          padding: 6px 15px 0;
          min-height: 24px;

          &:hover {
            color: #000;
          }
        }
      }
    }

    > .users {
      h4 {
        margin: 20px 0 0;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}

code {
  display: inline-block;
  padding: 8px 12px;
  white-space: pre-line;
  background: #f2f2f2;
  text-align: left;
  border: 1px solid darken(#f2f2f2, 5%);
  @include border-radius(4px);
}

@include mobile {
  body {
    padding: 0 10px;
    > .container {
      margin: 10px auto;
    }
  }
}