// Font Related Settings
$font-xs: 10px;
$font-sm: 11px;
$font-md: 12px;
$font-lg: 15px;
$font-xl: 18px;
$font-xxl: 22px;
$font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

// Responsive / Screen Related Settings
$screenTablet: 768px;
$screenDesktopSm: 1024px;
$screenDesktop: 1280px;
$screenJumbo: 1400px;